.pinIcon {
  cursor: pointer;
  transition: 200ms;
}

.pinIcon:hover {
  color: white;
}

.currentLocation {
  color: rgb(203, 2, 2);
}

.iconPopper {
  background-color: #ffffffbd;
  font-size: 1rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.55);
  padding: 6px;
}
